<% content_for :title do %>
  <%= render TitleComponent.new title: "AG du #{l(@meeting.start_time)}", subtitle: @meeting.name %>
<% end %>

<% content_for :back_button, render(BackButtonComponent.new) %>
<% content_for :edit_button, render(EditButtonComponent.new(url: edit_meeting_path(@meeting))) %>

<div class="mt-6">
  <%= link_to "Liste des assemblées &rarr;".html_safe, meetings_path %>
</div>