<div class="absolute top-6 left-6">
  <%= link_to :back do %>
    <svg class="size-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" height="14" width="14"><g id="line-arrow-left-circle-1--arrow-keyboard-circle-button-left"><path id="Vector" fill="#475569" d="M7 13.5c3.5899 0 6.5 -2.9101 6.5 -6.5C13.5 3.41015 10.5899 0.5 7 0.5 3.41015 0.5 0.5 3.41015 0.5 7c0 3.5899 2.91015 6.5 6.5 6.5Z" stroke-width="1"></path><path id="Vector_2" stroke="#94a3b8" stroke-linecap="round" stroke-linejoin="round" d="M7 13.5c3.5899 0 6.5 -2.9101 6.5 -6.5C13.5 3.41015 10.5899 0.5 7 0.5 3.41015 0.5 0.5 3.41015 0.5 7c0 3.5899 2.91015 6.5 6.5 6.5Z" stroke-width="1"></path><path id="Vector 4425" stroke="#94a3b8" stroke-linecap="round" stroke-linejoin="round" d="m5.5 5 -2 2 2 2" stroke-width="1"></path><path id="Vector 4443" stroke="#94a3b8" stroke-linecap="round" stroke-linejoin="round" d="M10.5 7h-7" stroke-width="1"></path></g></svg>
  <% end %>
</div>
