<div class="flex flex-col items-center space-y-1 mb-6">
  <h1 class="text-center font-black text-2xl"><%= @title %></h1>
  <h2 class="text-center font-light text-lg text-slate-400"><%= @subtitle.html_safe %></h2>
</div>
