<%= content_tag :li, id: dom_id(owner), class: "bg-slate-900 group rounded-xl p-4 border border-slate-900 hover:border-indigo-500" do %>
  <div class="flex items-center justify-between">
    <div class="flex flex-col space-y-2">
      <div class="">
        <%= owner.name %>
      </div>
      <div class="text-xs text-gray-400"><%= k(owner).address %></div>
    </div>
    
    <div>
      <%= link_to owner do %>
        <svg class="size-8 opacity-30 group-hover:opacity-100 transition-opacity" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" height="14" width="14"><g id="location-building-search"><path id="Vector" fill="#a7f3d0" d="M6.64 12.28c3.61 0 5.64 -2.03 5.64 -5.64S10.25 1 6.64 1 1 3.03 1 6.64s2.03 5.64 5.64 5.64Z" stroke-width="1"></path><path id="Vector_2" stroke="#10b981" stroke-linecap="round" stroke-linejoin="round" d="M6.64 12.28c3.61 0 5.64 -2.03 5.64 -5.64S10.25 1 6.64 1 1 3.03 1 6.64s2.03 5.64 5.64 5.64Z" stroke-width="1"></path><path id="Vector_3" stroke="#10b981" stroke-linecap="round" stroke-linejoin="round" d="m13 13 -2.146 -2.146" stroke-width="1"></path><path id="Vector 1889" fill="#ffffff" d="M4.14 8.64v-2.5c0.762 -1.195 1.324 -1.718 2.5 -2.5 1.176 0.782 1.738 1.305 2.5 2.5v2.5a0.5 0.5 0 0 1 -0.5 0.5h-4a0.5 0.5 0 0 1 -0.5 -0.5Z" stroke-width="1"></path><path id="Vector 1936" stroke="#10b981" stroke-linecap="round" stroke-linejoin="round" d="M6.64 9.14v-1.5" stroke-width="1"></path><path id="Vector 1937" stroke="#10b981" stroke-linecap="round" stroke-linejoin="round" d="M4.14 8.64v-2.5c0.762 -1.195 1.324 -1.718 2.5 -2.5 1.176 0.782 1.738 1.305 2.5 2.5v2.5a0.5 0.5 0 0 1 -0.5 0.5h-4a0.5 0.5 0 0 1 -0.5 -0.5Z" stroke-width="1"></path></g></svg>
      <% end %>
    </div>
  </div>
<% end %>