<p>En résumé :</p>

<p><strong>DEMERYS INVESTMENT</strong> propose avec le logiciel <em>LIBERSYNC</em> une gestion administrative des associations syndicales libres (ASL).</p>
<p>Pour en bénéficier, l'abonné doit disposer du matériel nécessaire au fonctionnement d'un navigateur internet. Il doit également disposer préalablement d'un accàs haut débit à Internet.</p>
<p>L'abonné bénéficie du service pendant toute la durée de son abonnement et reste libre de le dénoncer à tout moment. </p>
<p>En contrepartie du service dont il bénéficie, l'abonné s'engage à respecter les ràgles en usage sur l'Internet ainsi que les présentes conditions générales d'abonnement.</p>
<p>Merci de bien vouloir lire attentivement l'ensemble des conditions générales d'abonnement avant d'utiliser le service. Ce texte servira de référence en cas de litige entre <strong>DEMERYS INVESTMENT</strong> et l'abonné, leur acceptation par ce dernier étant un préalable indispensable à tout utilisation du service. </p>
<p>Nous avons fait en sorte d'être le plus clair et précis possible: en cas de question, n'hésitez pas à nous contacter au 23 avenue Auguste Albertini, 34500 Béziers.</p>
<p>Si en tout état de cause, même après renseignement, l'une des clauses ne vous paraﬂt pas acceptable, nous vous demandons tout simplement de ne pas souscrire au service.</p>

<h2>1. Préambule </h2>

<p>Le présent document constitue les conditions générales d'abonnement (ci-après les "Conditions Générales d'Abonnement") du service proposé par <strong>DEMERYS INVESTMENT</strong> (ci-après "le Service") à tout internaute inscrit ou ayant valablement souscrit un abonnement <em>LIBERSYNC</em> (ci-après "l'Abonné") à partir de son site Internet bcp.hammurabi.software (ci-après "le Site").</p>

<h2>2. Qui est <strong>DEMERYS INVESTMENT</strong> ? </h2>

<p><strong>DEMERYS INVESTMENT</strong> est une société immatriculée au registre du commerce et des sociétés de Béziers sous le numéro 803 315 225 RCS BEZIERS. </p>

<h2>3. Objet du Service, Territoire visé </h2>

<p>Le Service est accessible, contre rémunération, à toute personne résidant en France métropolitaine, dans les DOM-TOM ou les principautés d'Andorre ou de Monaco. Il permet l'utilisation de <em>LIBERSYNC</em> via internet.</p>
<p>Le service est restreint à une société. Une société, une association ou un établissement public gérant plusieurs établissements devra prendre autant d'abonnements que d'établissements.</p>

<h2>4. Conditions de souscription au Service </h2>

<h3>4.1 Pré-requis : Equipement informatique nécessaire à l'accàs au Service </h3>

<p>Le Service est accessible au moyen de n'importe quel ordinateur capable de faire fonctionner un navigateur internet exécutant le Javascript et acceptant les cookies. </p>
<p>L'ordinateur doit être préalablement raccordé à l'Internet au travers d'un accàs dit "haut débit" (câble, ADSL ou fibre). </p>
<p>L'utilisation du Service est préconisée avec des navigateurs autres qu'Internet Explorer pour des raisons de respect des standards en vigueur dans l'industrie de l'Internet. </p>

<h3>4.2 Inscription, Compte et Identifiants </h3>

<p>Préalablement à la souscription de son abonnement, l'internaute doit remplir le formulaire réservé à cet effet en renseignant en ligne un certain nombre de champs obligatoires. </p>
<p>L'accès au Service est subordonné à la transmission de l'ensemble des informations demandées, notamment l'adresse email qui permet l'échange d'informations liées au bon déroulement de l'abonnement (validation, facturation). </p>
<p>Chaque compte est réservé à un usage privé et ne peut être partagé par un autre établissement.</p>

<h2>5. Modalités des offres </h2>

<p><strong>DEMERYS INVESTMENT</strong> permet à l'abonner d'utiliser le logiciel <em>LIBERSYNC</em> pour son établissement, et s'engage à :</p>

<ul>
  <li>héberger le logiciel chez un professionnel en Europe</li>
  <li>assurer la sécurité et la sauvegarde des données</li>
  <li>garantir une disponibilité du service (hors problàmes liés à la connexion internet ou au matériel de l'abonné)</li>
  <li>assurer la restitution des données sur l'ordinateur de l'abonné au cas où ce dernier souhaiterait résilier.</li>
  <li>assurer la maintenance complète du logiciel</li>
  <li>assurer les mises à jours de manière automatique.</li>
  <li>adapter le logiciel aux évolutions futures de la législation.</li>
</ul>

<h2>6. Paiement </h2>

<p>Le règlement du prix de l'abonnement s'effectue, conformément aux tarifs en vigueur sur le Site au jour de la souscription puis aux dates respectives de renouvellement. Ces tarifs n'incluent pas les éventuels coûts de connexion et de communication dus par l'Abonné à des tiers (fournisseur d'accàs, etc.). </p>
<p>Le paiement se fait d'avance et au comptant pour la période à venir. Il se renouvelle, pour chaque nouvelle période, dans les mêmes conditions. Aucun remboursement ne pourra intervenir en cas d'utilisation partielle ou de non usage du Service par l'Abonné, le prix du Service résultant d'un forfait. </p>
<p>Les moyens de paiement proposés sur le Site sont sécurisés gràce au prestatire Stripe (www.stripe.com).</p>
<p>Les informations liées au compte bancaire de l'Abonné ne sont pas communiquées à <strong>DEMERYS INVESTMENT</strong>.</p>
<p>En cas d'incidents de paiement, <strong>DEMERYS INVESTMENT</strong> se réserve le droit de suspendre le compte de l'Abonné défaillant jusqu'à régularisation complàte de sa situation. </p>

<h2>7. Règles de conduite </h2>

<h3>7.1 Maintien de la confidentialité des identifiants </h3>
<p>L'Abonné est seul responsable de la confidentialité et de l'utilisation de ses identifiants (login et mot de passe). Il est également seul responsable de toute connexion au Service ou transmission de données effectuées en utilisant son compte et qui seront réputées avoir été effectuées par l'Abonné lui-même ou sous sa responsabilité, notamment si l'Abonné prend le risque de pré-enregistrer ses identifiants sur son ordinateur, permettant ainsi la connexion automatique au Service via son compte. </p>
<p>En cas de perte ou de vol de ses identifiants, ou encore en cas de constatation d'utilisation frauduleuse de son compte, l'Abonné doit en avertir immédiatement <strong>DEMERYS INVESTMENT</strong>, par courrier électronique à l'adresse suivante, contact@demerys.com. </p>

<h3>7.2 Respect des droits de propriété intellectuelle </h3>
<p>Le Site, l'ensemble des logiciels, présentations d'informations, dénominations, noms commerciaux, marques de produits ou de services, inventions, et de maniàre générale toute création quel que soit le genre accessible à l'aide du Service, demeurent la propriété exclusive de leurs titulaires respectifs, à savoir <strong>DEMERYS INVESTMENT</strong>.</p>

<h3>7.3 Prise en compte des spécificités liées à l'utilisation d'un Service informatique fourni via Internet </h3>
<p>Performance du Service : L'Abonné déclare avoir pris connaissance des spécificités du réseau Internet et des limitations inhérentes à un Service fourni sur un réseau où interagissent de nombreux intervenants. Il appartient en outre à chaque Abonné de prendre toutes les mesures afin d'assurer la protection des données et logiciels stockés sur son ordinateur, notamment contre la contamination par des virus, ou spywares (logiciels espions) qui pourraient être introduits par des tiers via Internet. </p>
<p>D'une façon générale, <strong>DEMERYS INVESTMENT</strong> ne saurait être tenue pour responsable de toute perte de donnée, détérioration et plus généralement de tout préjudice  matériel ou moral susceptible d'affecter l'Abonné dont elle ne serait pas directement à l'origine. </p>
<p>Il est expressément convenu que si la responsabilité de <strong>DEMERYS INVESTMENT</strong> devait par extraordinaire être retenue dans le cadre du présent article, l'Abonné ne pourrait prétendre à d'autres indemnités et dommages et intérêts que le remboursement des ràglements effectués par l'Abonné. </p>

<h2>8. Modification des Conditions Générales d'Abonnement et des tarifs </h2>

<p>L'Abonné est informé que <strong>DEMERYS INVESTMENT</strong> se réserve le droit de modifier à tout moment les Conditions Générales d'Abonnement et/ou les tarifs sous réserve d'en informer l'Abonné préalablement. Les modifications concernées ne seront applicables que pour les périodes de renouvellement des abonnements. En tout état de cause, l'Abonné dispose d'un droit de dénonciation en cas de désaccord avec lesdites modifications. </p>

<h2>9.Résiliation </h2>

<h3>9.1 Résiliation par <strong>DEMERYS INVESTMENT</strong></h3>

<p>Le Contrat d'abonnement au Service pourra être résilié par <strong>DEMERYS INVESTMENT</strong>, sans préavis ni indemnité au bénéfice de l'Abonné en cas : </p>

<ul>
  <li>d'utilisation illicite, de tentative d'utilisation illicite ou de complicité d'utilisation illicite du Service (notamment le piratage, la contrefaçon ou l'utilisation de coordonnées/moyens de paiement frauduleux),</li>
  <li>de manquement de l'Abonné à l'une ou l'autre des obligations lui incombant au titre des présentes Conditions Générales d'Abonnement,</li>
  <li>de retard de paiement,</li>
  <li>de cessation de l'exploitation du Service, et notamment en cas de décision ou d'injonction de l'autorité publique, d'une juridiction, ou de dispositions légales ou réglementaires imposant directement ou indirectement la cessation de l'exploitation du Service.</li>
</ul>

<p>En tout état de cause, la résiliation d'un contrat d'abonnement entraînera la fermeture du compte correspondant de l'Abonné. </p>

<h3>9.2 Résiliation par l'Abonné </h3>

<p>L'Abonné peut librement et à tout moment dénoncer un abonnement.</p>

<h2>10. Preuve, Conservation et archivage </h2>

<p>Les données relatives aux abonnements sont conservées par <strong>DEMERYS INVESTMENT</strong> dans des conditions raisonnables de sécurité. L'archivage de ces données est effectué sur un support fiable et durable de manière à correspondre à une copie fidàle et durable, conformément aux dispositions du Code civil. En cas de conflit entre les données détenues par <strong>DEMERYS INVESTMENT</strong> et tout autre document, il est expressément convenu que lesdites données feront foi entre les parties. </p>

<h2>12.Dispositions relatives au code de la consommation </h2>

<p>Conformément à l'article L 121-20 du Code de la consommation, l'Abonné dispose d'un droit de rétractation de 7 jours francs à compter de sa souscription au Service. Toutefois, le droit de rétractation tel qu'évoqué à l'alinéa précédent n'est, selon l'article L121-20-2 du même Code, pas applicable aux services dont l'exécution a commencé, avec le consentement du consommateur, avant la fin du délai de 7 jours francs. L'Abonné est donc informé que toute connexion au Service entraînera l'impossibilité pour lui d'utiliser son droit de rétractation. </p>

<h2>12. Données Personnelles</h2>

<h3>12.1 Collecte des données</h3>
<p>Dans le cadre de l'utilisation de notre logiciel en SAAS, la SARL <strong>DEMERYS INVESTMENT</strong> est amenée à collecter et traiter certaines données personnelles des utilisateurs. Ces données seront collectées de manière loyale et transparente.</p>

<h3>12.2 Finalité du traitement</h3>
<p>Les données personnelles sont collectées pour les finalités suivantes :</p>

<ul>
  <li>Gestion des abonnements et facturation.</li>
  <li>Assistance technique et relation client.</li>
  <li>Amélioration des services proposés.</li>
</ul>

<h3>12.3 Conservation des données</h3>

<p>Les données personnelles sont conservées pour une durée qui n'excède pas la durée nécessaire aux finalités pour lesquelles elles ont été collectées.</p>

<h3>12.4 Droits des utilisateurs</h3>
<p>Conformément au RGPD, tout utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition pour motifs légitimes au traitement de ses données personnelles. L'utilisateur peut également demander la portabilité de ses données et définir des directives concernant le sort de ses données après son décès. Ces droits peuvent être exercés en contactant notre service clientèle aux coordonnées indiquées à l'article 7, en fournissant une preuve d'identité.</p>

<h3>12.5 Sécurité des données</h3>
<p>La SARL <strong>DEMERYS INVESTMENT</strong> s'engage à mettre en place toutes les mesures techniques et organisationnelles nécessaires pour protéger les données personnelles des utilisateurs contre toute forme de dommage, perte, détournement, intrusion, divulgation, altération ou destruction.</p>

<h3>12.6 Transfert de données</h3>
<p>Les données personnelles des utilisateurs ne seront pas transférées hors de l'Union européenne. Si pour des besoins spécifiques un tel transfert devait avoir lieu, les utilisateurs en seraient informés et les garanties nécessaires seraient mises en œuvre pour assurer la sécurité et la confidentialité de ces données conformément au RGPD.</p>

<h3>12.7 Sous-traitants</h3>
<p>La SARL <strong>DEMERYS INVESTMENT</strong> pourra faire appel à des sous-traitants pour le traitement de tout ou partie des données personnelles, tout en s'assurant du respect du RGPD par ces derniers.</p>

<h2>13. Dispositions finales </h2>

<p>Les présentes Conditions Générales d'Abonnement et le formulaire en ligne visé à l'article 4.2 des présentes constituent le contrat d'abonnement au Service. <strong>DEMERYS INVESTMENT</strong> se réserve la faculté de céder, transférer ou apporter à un tiers sous quelque forme que ce soit tout ou partie des droits et obligations dudit contrat d'abonnement. Pour le cas où l'une des stipulations du contrat d'abonnement serait déclarée nulle, cette nullité n'entraﬂnera pas la nullité de l'ensemble du contrat et les parties s'efforceront d'élaborer une clause de substitution idoine. </p>
<p>Le fait pour <strong>DEMERYS INVESTMENT</strong> ou pour l'Abonné de ne pas se prévaloir d'une prérogative accordée par le contrat d'abonnement ne saurait être interprété comme une renonciation à exercer ce droit. </p>
<p>En cas de litige, les parties feront leurs meilleurs efforts pour tenter de régler le litige à l'amiable préalablement à toute action contentieuse. </p>
<p>A défaut d'accord, et sous réserve des dispositions impératives applicables, tout litige relatif au contrat d'abonnement sera porté devant leTribunal de Commerce de Paris. Le droit fran“ais sera seul applicable. </p>

<p>Version du 19 janvier 2024</p>