<h2>Bonjour,</h2>

<p>Veuillez trouver joint à cet email le reçu de paiement pour votre cotisation à l'ASL :</p>

<p>
  <strong>
    <%= @hoa_name %>
  </strong>
</p>

<p>
  Vous en souhaitant bonne réception.
</p>

<p style="border-top: 1px solid #BDBDBD; margin-top: 10px; padding-top: 10px;">
  Le bureau de <%= @hoa_name %>.
</p>

<p>
  <strong>VEUILLEZ NE PAS RÉPONDRE À CET EMAIL ET CONTACTER DIRECEMENT LE BUREAU DE L'ASSOCIATION EN CAS DE BESOIN.</strong>
</p>